<div *ngIf="driver">
  <div>
    <h1>{{ driver?.name  }}</h1>
    <h5>{{ driver?.age }}</h5>
    <h5>$ {{ driver?.national_id }}</h5>
    <h3>Car</h3>
    <h5>{{driver?.car_name}}</h5>
    <h5>{{ driver?.bien_so}}</h5>
    <h5>{{driver?.seat}}</h5>
  </div>
</div>
<div *ngIf="!driver">Loading...</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" appDropdown>
    Manage Car
  </button>
  <!-- show -->
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" style="cursor: pointer" routerLink="edit">Edit Car</a>
    </li>
    <li>
      <a class="dropdown-item" style="cursor: pointer" (click)="deleteCar()">Delete Car</a>
    </li>
  </ul>
</div>
