<div *ngIf="driver">
  <div>
    <div>
      <h3>Driver</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <input readonly="true" type="text" id="name" class="form-control" [value]="driver.name"/>
      </div>
  
      <div class="form-group">
        <label for="national_id">National ID</label>
        <input readonly="true" type="text" id="national_id" class="form-control" [value]="driver.national_id" />
      </div>
  
      <div class="form-group">
        <label for="age">Age</label>
        <input readonly="true" type="text"id="age" class="form-control" [value]="driver.age" />
      </div>
      <h3>Car</h3>
      <div class="form-group">
        <label for="car_name">Name</label>
        <input readonly="true" type="text" id="car_name" class="form-control" [value]="driver.car_name"/>
      </div>
      <div class="form-group">
        <label for="bien_so">License Plate</label>
        <input readonly="true" type="text" id="bien_so" class="form-control" [value]="driver.bien_so" />
      </div>
  
      <div class="form-group">
        <label for="seat">Seat</label>
        <input readonly="true" type="text" id="seat" class="form-control" [value]="driver.seat" />
      </div>
    </div>
  </div>
</div>
<div *ngIf="!driver">Loading...</div>
<br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" appDropdown>
    Manage Car
  </button>
  <!-- show -->
  <ul class="dropdown-menu">
    <li *ngIf="driver?.status">
      <a class="dropdown-item" style="cursor: pointer" routerLink="edit">Edit Driver</a>
    </li>
    <li *ngIf="!driver?.status">
      <a class="dropdown-item" style="cursor: pointer" (click)="restoreDriver()">Restore Driver</a>
    </li>
    <li>
      <a class="dropdown-item" style="cursor: pointer" (click)="deleteCar()">Delete Car</a>
    </li>
    <li>
      <a class="dropdown-item" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#driving-his-modal">Driving History</a>
    </li>
  </ul>
</div>
<driving-his-modal [contract]="contracts"></driving-his-modal>