<form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
  <div>
    <button type="submit" class="btn btn-success me-1" [disabled]="driverForm.invalid">
      Save
    </button>
    <button type="button" class="btn btn-danger" (click)="goBack()">
      Cancel
    </button>
    <hr>
    <h3>Driver</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" [ngClass]="{
        'invalid-input': name.invalid && name.touched
      }" />
    </div>

    <div class="form-group">
      <label for="national_id">National ID</label>
      <input type="text" id="national_id" class="form-control" formControlName="national_id" [ngClass]="{
        'invalid-input': national_id.invalid && national_id.touched
      }" />
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" min="18" max="65" step="1" id="age" class="form-control" formControlName="age" [ngClass]="{
        'invalid-input': age.invalid && age.touched
      }" />
    </div>
    <hr>
    <h3>Car</h3>
    <div class="form-group">
      <label for="car_name">Name</label>
      <input type="text" id="car_name" class="form-control" formControlName="car_name" [ngClass]="{
        'invalid-input': car_name.invalid && car_name.touched
      }" />
    </div>
    <div class="form-group">
      <label for="bien_so">License Plate</label>
      <input type="text" id="bien_so" class="form-control" formControlName="bien_so" [ngClass]="{
        'invalid-input': bien_so.invalid && bien_so.touched
      }" />
    </div>

    <div class="form-group">
      <label for="seat">Seat</label>
      <input type="number" min="1" max="7" step="1" id="seat" class="form-control" formControlName="seat" [ngClass]="{
        'invalid-input': seat.invalid && seat.touched
      }" />
    </div>
  </div>
</form>
