<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">The Shuttle</span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/drivers">
            Driver
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contracts">
            Contract
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/travels">
            Travel
          </a>
        </li>
      </ul>
      <div class="account-content">
        <div class="account-img" *ngIf="haveAccount()">
          <img src=[acc.image] alt="">
        </div>
        <div class="login" *ngIf="!haveAccount()">
          <a class="nav-link" routerLink="/login">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
