<div>
  <h1>{{ car.CAR_NAME }}</h1>
  <h5>{{ car.CAR_TYPE_NAME }}</h5>
  <h5>$ {{ car.LICENE_PLATE }}</h5>
  <p>{{ car.CAR_STATUS}}</p>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" appDropdown>
    Manage Car
  </button>
  <!-- show -->
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" style="cursor: pointer" routerLink="edit"
        >Edit Car</a
      >
    </li>
    <li>
      <a class="dropdown-item" style="cursor: pointer" (click)="deleteCar()"
        >Delete Car</a
      >
    </li>
  </ul>
</div>
